@import "tailwindcss";

@keyframes heartBeat {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.8;
  }

  50% {
    transform: translate(-50%, -100%) scale(1.2);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -150%) scale(1.2);
    opacity: 0;
  }
}

.heart-animation {
  animation: heartBeat 0.8s ease-out;
  position: absolute;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
}